.header {
  width: 80%;
  margin: 0px auto;
  background-color: blueviolet;
  padding: 15px 10px;
  text-align: center;
  color: white;
}

.post_details {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
}
