{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %} {% endblock title %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <h1>This is Simple Blog application</h1>

    <!-- blog posts  -->
    <div>{% block blog_posts %} {% endblock blog_posts %}</div>
  </body>
</html>
